@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-950 text-white;
}

/* Add to your global CSS file (usually App.css or index.css) */
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}